extends layout

block title

block content 
    include ./components/shopping-nav.pug
    include ./components/shopping-header-img.pug
    .row.mb-3 
        .col-12.text-center 
            h2 Reward Yourself!

    include ./components/shopping-carousel.pug
    .row.mb-3 
        .col-12.text-center 
            h2 Featured Departments
    include ./components/shopping-featured-categories.pug