.row#claim-details
    .col-12
        .card
            .card-body
                .row
                    .col-12
                        include ../components/print-export-bar.pug
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Name
                    .col-7
                        p.mb-0  Demo User
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Product Ext Description
                    .col-7
                        p.mb-0  Promotion 3 - Verfification
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Claim ID
                    .col-7
                        p.mb-0  75116191
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Customer Company
                    .col-7
                        p.mb-0  Big O Trucking
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Customer Phone
                    .col-7
                        p.mb-0  
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Invoice Number
                    .col-7
                        p.mb-0  32344
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Sale Date
                    .col-7
                        p.mb-0  4/27/2020
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Quantity
                    .col-7
                        p.mb-0  1.00
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Product Code
                    .col-7
                        p.mb-0  15876 - Widget A
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Product Ext Description
                    .col-7
                        p.mb-0  
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Sale Amount
                    .col-7
                        p.mb-0  2478.0000
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Claim Status
                    .col-7
                        p.mb-0  Needs Verfication
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Claim Date
                    .col-7
                        p.mb-0  5/1/2020
                .row.mb-2 
                    .col-5
                        p.mb-0.fw-bold  Payout
                    .col-7
                        p.mb-0  2,478 points