footer 
    .container-fluid 
        .row 
            ul.nav.justify-content-center
                li.nav-item
                    a.nav-link.active(aria-current='page' href='#') Active
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item
                    a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
        .row.py-2.bg-warning 
            small.d-block.text-center Copyright &copy; 2021. RewardTrax.com
