form#quickpoints-form(action="") 
    .row.align-items-end
        .col-sm-8.mb-3.mb-sm-0
            label.form-label.fw-bold(for="serialnumber") Certificate Number
            input#serialnumber.form-control(type="text" required) 
        .col-sm-4
            a.btn.btn-primary.w-100(href="#") Reward Me!