.row#forgot-password-content
    .col-12 
        .display-4 Reset Password 
        p Please input your email address and create a 4 digit passcode. Password reset instructions will be sent to your email address. Remember the passcode you created. You will need it to complete your password reset.

    form.text-start.form-forgotPassword
        .mb-3
            label.form-label(for='forgotPasswordInputEmail1') Email address
            input#forgotPasswordInputEmail1.form-control(type='email' aria-describedby='emailHelp')
    
        .mb-3
            label.form-label(for='forgotPasswordInputPasscode1') Pass Code
            input#forgotPasswordInputPasscode1.form-control(type='password' placeholder="0000" value="0000")
        .mb-3     
            button.btn.btn-primary.w-100(type='submit') Submit
        .mb-0.text-center 
            a#back-to-login(href="#") Back to Log In 