form.text-start.form-login
    .mb-3
        label.form-label(for='loginInputEmail1') Email address
        input#loginInputEmail1.form-control(type='email' aria-describedby='emailHelp')
  
    .mb-3
        label.form-label(for='loginInputPassword1') Password
        input#loginInputPassword1.form-control(type='password')
    .mb-3    
        button.btn.btn-primary.w-100(type='submit') Submit
    .mb-0.text-center 
        a#forgot-your-password(href="#") Forgot your password?