form(action="")
    .row
        .col-sm-6.mb-3
            label.form-label(for='checkout-recipient') Recipient Name
            input#checkout-recipient.form-control(type='text' placeholder='')
        .col-sm-6.mb-3
            label.form-label(for='checkout-phone') Phone Number
            input#checkout-phone.form-control(type='phone' placeholder='')
        .col-12.mb-3
            label.form-label(for='checkout-email') Email Address
            input#checkout-email.form-control(type='email' placeholder='')
        .col-12.mb-3
            label.form-label(for='checkout-address-1') Address
            input#checkout-address-1.form-control(type='text' placeholder='')
        .col-12.mb-3
            label.form-label(for='checkout-address-2') Address 2
            input#checkout-address-2.form-control(type='text' placeholder='')
        .col-sm-6.mb-3
            label.form-label(for='checkout-address-2') City
            input#checkout-address-2.form-control(type='text' placeholder='')
        .col-sm-3.mb-3
            label.form-label(for='checkout-address-2') State
            input#checkout-address-2.form-control(type='text' placeholder='')
        .col-sm-3.mb-3
            label.form-label(for='checkout-address-2') Zip 
            input#checkout-address-2.form-control(type='text' placeholder='')