form.text-start.form-activation
    .mb-3
        label.form-label(for='inputActivation1') Activation ID
        input#inputActivation1.form-control(type='activation' aria-describedby='activationHelp')

    button.btn.btn-primary.w-100(type='submit') Continue to Enrollment