header  
    .container-fluid 
        .row.bg-warning
            .col-6.col-sm-4.col-md-2.col-xl-1.mx-auto.py-2
                a(href="/")  
                    img.img-fluid(src='https://www.rewardtrax.com/brandeddemo15/images/CloudLogo.png')
        .row 
            include header-nav.pug