.col-12.col-md-6.col-lg-7.col-xl-8
    .card
        .card-body
            .favorite-item.text-end.pe-2
                i.bi-heart
            .item-detail-main-image-wrapper
                img.img-fluid(src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6084/6084400_sd.jpg", alt="")