label(for="quantity") Quantity 
.input-group
    button#itemQtyDecr.btn.btn-outline-secondary(type='button' onclick="itemQtyDecr()") 
        i.bi-dash
    input#itemQty.form-control.text-center(type='text' placeholder='1' aria-label='Example text with button addon' aria-describedby='button-addon1' value="1")
    button#itemQtyIncr.btn.btn-outline-secondary(type='button' onclick="itemQtyIncr()") 
        i.bi-plus