label(for="quantity") Quantity 
.input-group
    button#button-addon1.btn.btn-outline-secondary(type='button') 
        i.bi-dash
    input.form-control.text-center(type='text' placeholder='1' aria-label='Example text with button addon' aria-describedby='button-addon1')
    button#button-addon2.btn.btn-outline-secondary(type='button') 
        i.bi-plus