ul.list-group.list-group-flush.collapse#item-detail-store-list
    -for(i=0; i<5; i++)
        li.list-group-item
            .row
                .col-2
                    img.img-responsive(src="https://isiprogram.rewardtrax.com/images/bestbuyImg.png", alt="")
                .col-10
                    p.mb-0 Order Today, Pick up on 1/25/2021