.col-12#my-points
    .row.text-center
        
        .col-12.col-md-4.mb-2
            .card
                .card-body
                    .row.align-items-center
                        .col-2.col-md-3.col-xxl-2.mb-2.mb-xxl-0.bg-warning.py-2
                            .bi.bi-cash-stack
                        .col-4.col-md-9.col-xxl-4.text-start.small
                            p.mb-0 Awarded
                    
                        .col-6.col-md-12.col-xxl-6.text-end.text-md-center.text-xxl-end
                            .h4.fw-light.mb-0 1,123,345,566
        .col-12.col-md-4.mb-2
            .card
                .card-body
                    .row.align-items-center
                        .col-2.col-md-3.col-xxl-2.mb-2.mb-xxl-0.bg-warning.py-2
                            .bi.bi-cash-stack
                        .col-4.col-md-9.col-xxl-4.text-start.small
                            p.mb-0 Redeemed
                    
                        .col-6.col-md-12.col-xxl-6.text-end.text-md-center.text-xxl-end
                            .h4.fw-light.mb-0 1,123,345,566
        .col-12.col-md-4.mb-2
            .card
                .card-body
                    .row.align-items-center
                        .col-2.col-md-3.col-xxl-2.mb-2.mb-xxl-0.bg-warning.py-2
                            .bi.bi-cash-stack
                        .col-4.col-md-9.col-xxl-4.text-start.small
                            p.mb-0 Remaining
                    
                        .col-6.col-md-12.col-xxl-6.text-end.text-md-center.text-xxl-end
                            .h4.fw-light.mb-0 1,123,345,566