.row.justify-content-end.py-2.text-center.mb-3
    .col-3.col-sm-2.py-3.border-end
        a(href="#" onclick="window.print()") 
            .bi.bi-printer.lead
    .col-3.col-sm-2.py-3
        .bi.bi-box-arrow-right.lead