.card.promo-card.mb-3
    .card-body
        .row 
            .col-12.mb-3.text-center
                h5.card-title.promo-title.text-start Promotion 2 - Goal Tiering or some extra long Title Here.
            .col-4.col-sm-2.text-center
                
                    
                        .lead.fw-light 8
                        small.text-muted.text-uppercase.d-block 
                            span.small 
                                span.small Claims Awarded
            .col-4.col-sm-2.text-center
                
                    
                        .lead.fw-light 3
                        small.text-muted.text-uppercase.d-block 
                            span.small 
                                span.small Claims Approved
            .col-4.col-sm-2.text-center
                
                    
                        .lead.fw-light 12
                        small.text-muted.text-uppercase.d-block 
                            span.small 
                                span.small Claims Pending
            .col-4.col-sm-2.text-center
                
                    
                        .lead.fw-light 1
                        small.text-muted.text-uppercase.d-block 
                            span.small 
                                span.small Claims Verify
            .col-4.col-sm-2.text-center
                        .lead.fw-light 0
                        small.text-muted.text-uppercase.d-block 
                            span.small 
                                span.small Claims Denied
                                
            .col-4.col-sm-2.text-center
                a(href="#") Details
            .col-12.d-none
                .card-body.bg-light
                    p Placeholder