.col-6.col-md-4.col-xl-3.mb-5.text-start
    .card.mb-2
        .favorite-item.text-end.pt-2.pe-2
            i.bi-heart
        .card-body
            

            .shopping-img-wrapper.text-center
                img(src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6084/6084400fp.gif", alt="")
    
    a.shopping-carousel-item-title.d-block.mb-2(href="./item-details.html") Apple - AirPods with Charging Case (Latest Model) - White
    .row.justify-content-around
        .col-sm-6
            p.mb-0.shopping-carousel-item-price 6370
                small.text-muted  points
        .col-sm-6.text-md-end.on-sale
            small.text-success On Sale Now!
        .col-12
            .in-store-pickup
                small
                    span.pe-1
                        i.bi-patch-check-fill.text-primary
                    span In-store Pickup Available