.row#breadcrumb.mb-3.d-none.d-md-flex
    .col-12.pt-2
        nav.bg-light.p-3(aria-label="breadcrumb")
            ol.breadcrumb.mb-0.small  
                li.breadcrumb-item
                    a(href="#") Catalog
                li.breadcrumb-item
                    a(href="#") Electronics
                li.breadcrumb-item.active(aria-current="page") Airpods