nav#stack-menu.text-start.bg-white
  .row.justify-content-end.d-block.mb-4 
    .col-2.py-2
        .ml-auto.closebtn(onclick="closeNav()") 
            i.bi.bi-x-circle
  ul.list-group.list-group-flush
    li
      a(href='#') Shop The Catalog
      ul
        li
          a(href='#') Apple
        li
          a(href='#') Baby
        li
          a(href='#') Books
        li
          a(href='#') Charitable Organizations
        li
          a(href='#') Electronics
        li
          a(href='#') Fashion Accessories
        li
          a(href='#') Gift Baskets
        li
          a(href='#') Home & Garden
        li
          a(href='#') Jewelry
        li
          a(href='#') Movies
        li
          a(href='#') Music
        li
          a(href='#') Office Products
        li
          a(href='#') On Sale Now!
        li
          a(href='#') Personal Care
        li
          a(href='#') Pets
        li
          a(href='#') Sporting Goods
        li
          a(href='#') Tools & Harware
        li
          a(href='#') Toys & Hobbies
        li
          a(href='#') Video Games
    li
        a(href="#") Events
    li
        a(href="#") Travel
