.row.mb-3
    .col-12#shopping-disclaimer
        small.text-center.d-block.text-muted Some content is provided by a third party on an as-is basis. This content is subject to change and/or removal at any time. Points and availability of items are subject to change.