.row
    .col-12
        #shopping-header-image-and-sections.mx-auto
            .col-12
                .row.d-none.d-md-flex#shopping-sections 
                    .col-md-4.px-0
                        button#shopDptAnchor.btn.btn-primary.w-100(type="button" href="./shopping.html") Shopping
                    .col-md-4.px-0
                        button#eventsDptAnchor.btn.btn-primary.w-100(type="button" href="./events.html") Events
                    .col-md-4.px-0
                        button#travelDptAnchor.btn.btn-primary.w-100(type="button" href="./travel.html") Travel
.row.mb-3
    .col-12.px-md-0.text-center
        .shopping-header-image-wrapper
            img.img-fluid(src="./images/shopping-header-img-placeholder.jpeg", alt="")