.row#shopping-cart-price-box
    .col-8.text-start 
        small.d-block.fw-bold Shipping & Sales Tax:
    .col-4.text-end 
        small.text-uppercase Included
    .col-8.text-start 
        small.d-block.fw-bold Order Total:
            span.d-block.small.fw-normal  (in points)
    .col-4.text-end 
        small.text-uppercase 10,012,250
    .col-8.text-start 
        small.d-block.fw-bold Points Remaining:
    .col-4.text-end 
        small.text-uppercase.d-block 10,220,000
        small.text-uppercase.d-block.text-danger -10,220,000
    .col-8.text-start 
        small.d-block.fw-bold Credit Card Buy In:
    .col-4.text-end
        small.text-uppercase $124.56
