.row.justify-content-center#shopping-featured-categories
    -for(i=0; i< 9; i++)
        .col-6.col-lg-4.mb-3
            .card.mb-2
                .card-body 
                    .shopping-img-wrapper.text-center
                        img(src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6084/6084400fp.gif", alt="")
            a.shopping-featured-categories-title.d-block.mb-2.text-center(href="./search-results.html") Category Title