extends layout

block header

block tempWidth
    .col-10.col-sm-8.col-md-6.col-lg-5.col-xl-4.col-xxl-3.mx-auto.text-start.content-bg

        block title 
            h1= title


        block content
            .row#login-choices.flex-column.justify-content-center 
                .col-12    
                    .row.mb-3 
                        .col-6.col-sm-4.mb-3 
                            img.img-fluid(src='https://www.rewardtrax.com/brandeddemo15/images/CloudLogo.png') 
                        
            include ./components/login-activate-options.pug
            include ./components/form-forgot-password.pug
block footer


    //- h1 Welcome to the Rewards Program 
    //- #firebaseui-auth-container 
    //- #loader Loading..