doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Favicon
  link(rel="shortcut icon" type="image/jpg" href="./favicon.ico")
  // Drilldown Shopping Menu
  script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
  link(href='./css/jquery-stack-menu.min.css' rel='stylesheet')
  // Drilldown Stack Menu Javascript
  script(src='./javascript/jquery-stack-menu.min.js')
  script.
    $(function(){
    $("#stack-menu").stackMenu()
    });
  // Firebase Authentication
  script(src='https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js')
  link(type='text/css' rel='stylesheet' href='https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css')

  // Bootstrap CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css')
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
  link(rel="stylesheet", href="../src/style.css")
  title RT V5
body
    block header
      include ./components/header.pug
    main.flex-grow-1.d-flex.flex-column.py-3.align-content-center.justify-content-center
        .container-fluid 
            .row 
              block tempWidth
                .col-lg-10.col-xl-8.mx-auto.text-center.content-bg
                    block title
                        h1 Default Title
                        p.lead Secondary text here. 
                    block content
                        -for(i=0; i<2; i++)
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam sequi debitis ducimus, facilis magni aut? Libero enim excepturi sequi molestiae perferendis dolores in quae laborum tenetur! Reiciendis porro perferendis sequi incidunt praesentium fugiat, excepturi doloremque. Eveniet ea voluptas magni.
    block footer  
      include ./components/footer.pug

// Optional JavaScript; choose one of the two!
// Option 1: Bootstrap Bundle with Popper
script(src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous")


// The core Firebase JS SDK is always required and must be listed first
script(src='https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js')

script.
  // Your web app's Firebase configuration
  var firebaseConfig = {
  apiKey: "AIzaSyBLvfcaU_K95kHd_yUVO9__k5fQB6UJHC4",
  authDomain: "rt-v5-participant-sites.firebaseapp.com",
  databaseURL: "https://rt-v5-participant-sites-default-rtdb.firebaseio.com",
  projectId: "rt-v5-participant-sites",
  storageBucket: "rt-v5-participant-sites.appspot.com",
  messagingSenderId: "383414696567",
  appId: "1:383414696567:web:e8cfc3541a4b4b91ce6472"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
script(src='../src/app.js')
