extends layout

block tempWidth
    .col-lg-10.col-xl-6.mx-auto.content-bg
        block title 
            h1.text-center Leaderboard
            
        block content
            -for(i=0;i<20; i++)
                include ./components/leaderboard-card.pug
                       
