extends layout

block tempWidth
    .col-lg-10.col-xl-6.mx-auto.text-center.content-bg
        block title 
            h1 Quick Points
            
        block content
            .row.text-start
                .col-12.mb-3 
                    include ./components/form-quickpoints.pug
                .col-12
                    p Claim your points by entering the certificate number found on your On-the-Spot certificate. 
                    img.img-fluid.mb-3(src="https://www.rewardtrax.com/brandeddemo15/images/ISIQuickpoints_Demo15.jpg", alt="")
                    