html,
body {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

:root {
  --app-bg: "https://images.pexels.com/photos/3320790/pexels-photo-3320790.jpeg";
}

main {
  background-image: url("https://images.pexels.com/photos/3320790/pexels-photo-3320790.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-bg {
  background: rgba(255, 255, 255, 0.95);
  padding: 2em;
}

// Shopping
@mixin imageSizing($width, $height, $fit, $pos) {
  width: $width;
  height: $height;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: $fit;
    object-position: $pos;
  }
}
.shopping-header-image-wrapper {
  @include imageSizing(100%, 175px, cover, center);
}

.item-detail-main-image-wrapper {
  @include imageSizing(100%, 175px, contain, center);
}

.shopping-cart-item-img {
  @include imageSizing(100px, 100px, contain, center);
}

// Shopping Menu DrillDown
#stack-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0vw;
  z-index: 4;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

// #stack-menu ul {
//   list-style: none;
//   li {
//     border-width: 0 0 1px !important;
//     position: relative;
//     display: block;
//     padding: 0.5rem 1rem !important;
//     text-decoration: none;
//   }
// }

#stack-menu .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.stack-menu {
  border-radius: 0;
}

// Media Queries
@media (min-width: 576px) {
  .item-detail-main-image-wrapper {
    @include imageSizing(100%, 225px, contain, center);
  }

  .shopping-cart-item-img {
    @include imageSizing(183px, 183px, contain, center);
  }
}
@media (min-width: 768px) {
  .item-detail-main-image-wrapper {
    @include imageSizing(100%, 335px, contain, center);
  }

  .shopping-cart-item-img {
    @include imageSizing(100%, 217px, contain, center);
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .shopping-header-image-wrapper {
    @include imageSizing(100%, 250px, cover, center);
  }

  .shopping-cart-item-img {
    @include imageSizing(100%, 156px, contain, center);
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .shopping-header-image-wrapper {
    @include imageSizing(100%, 350px, cover, center);
  }
}
