.row#shopping-cart-price-box
    .col-8.text-start 
        small.d-block.fw-bold Balance before purchase
    .col-4.text-end 
        small.text-uppercase 2,026,905
    .col-8.text-start 
        small.d-block.fw-bold Purchase Amount
            span.small.fw-normal  (in points)
    .col-4.text-end 
        small.text-uppercase 278
    .col-8.text-start 
        small.d-block.fw-bold Balance after purchase
    .col-4.text-end 
        small.text-uppercase 2,206,627