.col-12.col-xl-8.mb-3.text-start
    a.d-block.mb-2(href="#")
        i.bi-arrow-left-circle.pe-1
        span Back to Search Results
    h4.mb-0.item-detail-item-title Apple AirPods w/ Wireless Charging Case
    small.font-weight-bold.pe-1 Model Number:
        span.item-detail-model-number MV7N2AM/A 