label(for="select") Select Delivery Method
select.form-select(aria-label='Default select example')
    option(selected='') Delivery Options
    option(value='1') Ship to Address
    option(value='2') In-Store Pickup