.row#shopping-header-image-and-sections.mb-3
    .col-12
        .row.d-none.d-md-flex#shopping-sections 
            .col-md-4.px-0
                button.btn.btn-primary.w-100(type="button") Shopping
            .col-md-4.px-0
                button.btn.btn-primary.w-100(type="button") Events
            .col-md-4.px-0
                button.btn.btn-primary.w-100(type="button") Travel
    .col-12.px-md-0.text-center
        .shopping-header-image-wrapper
            img.img-fluid(src="https://images.pexels.com/photos/6214471/pexels-photo-6214471.jpeg", alt="")