.row#shopping-cart-info.text-start.mt-3.small
    .col-12.bg-light.py-3 
        p Items in your shopping cart expire and will be removed after 30 days. Points and availability subject to change. 
        p.mb-0 Some content is provided by a third party on an as-is basis. This content is subject to change and/or removal at any time. Points and availability of items are subject to change.