.row.my-2.align-items-center.justify-content-between 
    .col-4.col-sm-7.col-md-4.text-start
        small.search-results-count 264 Items

    .col-8.col-sm-5.col-md-4.col-lg-2
        select.form-select(aria-label='Default select example')
            option(selected='') Sort By:
            option(value='1') Best Selling
            option(value='2') Points: Low to High
            option(value='3') Points: High to Low